
.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container .trie-nodes {
    text-align: center;
    border: 1px solid #e5e5e5;
    background: #a8a8a814;
    padding-bottom: 30px;
    min-height: 700px;
    max-height: 700px;
    overflow-y: auto;
}

.container .data {
    padding-top: 10px;
    border: 1px solid #e5e5e5;
    background: #a8a8a814;
    min-height: 700px;
    padding-bottom: 30px;
    max-height: 700px;
    overflow-y: auto;
    text-align: left;
}

#header-nav .search-box {
    margin-right: 35px;
    background: gainsboro;
    border-radius: 7px;
    min-width: 340px;
}

#header-nav .search-box input[type='text'] {
    outline: none;
    border: 0;
    background: transparent;
}

#header-nav .search-box .search-inner-box {
    padding: 0;
}

.line-number {
    color: #9E9E9E;
    cursor: default;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome, Edge, Opera and Firefox */
}

#no-data {
    outline: none;
    margin-top: 10%;
}

.download-button {
    border: none;
    outline: none;
    background: none;
    margin-bottom: 30px;
    margin-top: 30px;
    opacity: 0.3;
    cursor: none;
}

.download-button img {
    width: 60px;
}

.text-wrapping:hover {
    background: #1f9cf6;
    color: white;
    border: 2px;
}

#single-node-path img {
    margin-top: 10px;
    width: 20px;
}

.highlightTerm {
    background: #ffc107;
}

.metadata-section {
    margin-top: 15px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 2px;
}

.metadata-section .metadata-info {
    text-align: left;
    margin-left: 15px;
}

.metadata-section .metadata-info .link {
    color: #0079ff;
    text-decoration: underline;
    cursor: pointer;
}

.tab-button {
    outline: none;
    margin-top: 20px;
    margin-right: 0pc;
    border: 0;
    background: #03A9F4;
    color: white;
    font-size: 27px;
    width: 120px;
}

.node-path {
    margin-top: 10px;
    border: 3px solid #0079ff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
}
